.loading {
	z-index: 9999;
	top: 0;
	right: 0;
	position: fixed;
	left: 0;
	bottom: 0;
	background: #f2f2f2;
}

.content-scroller {
	width: 30px;
	text-align: center;
	right: 22px;
	position: fixed;
	height: 30px;
	display: none;
	bottom: 22px;
	border-radius: 2px;
	background: #181818;
	
	.span-wrap {
		width: 20px;
		transform: translate(-50%, -50%);
		top: 50%;
		position: absolute;
		left: 50%;

		
		span {
			width: 10px;
			height: 1px;
			display: block;
			background: #fff;
		}
		
		.bar-1 {
			transform: translate(2px, 0) rotate(-45deg);
		}
		
		.bar-2 {
			transform: translate(8px, -1px) rotate(45deg);
		}
	}
}

.menu-button {
		width: 60px;
		right: 0;
		height: 60px;
		
		.span-wrap {
			transform: translate(-50%, -50%);
			top: 50%;
			position: absolute;
			left: 50%;
			
			span {
				width: 22px;
				height: 2px;
				display: block;
				background: #292929;
			}
			
			span:nth-child(2) {
				margin: 4px 0;
			}
		}
	}

h1 { margin: .67em 0 .25em; line-height: 1.2em; font-size: 2em; }
h2 { margin: .75em 0; font-size: 1.3em; }
h3 { margin: .83em 0; font-size: 1.17em; }
h4 { font-size: 1em; }
h5 { margin: 1.5em 0; font-weight: 100; font-size: 0.83em; }
h6 { margin: 1.67em 0; font-size: 0.75em; }

[class*='main-'] {
	width: 100%;
	float: left;
}

.main-header,
.sub-header,
.jumbotron,
.main-content,
.main-footer {
	width: 100%;
	float: left;
}

.main-content,
.main-footer {
	padding: 60px 0;
}

.main-header {
	z-index: 100;
	position: fixed;
	height: 60px;
	border-bottom: 1px solid #e6e6e6;
	background: #fff;
	
	.logo,
	.primary-navigation,
	.menu-button {
		position: absolute;
	}
	
	.logo,
	.primary-navigation {
		top: 20px;
	}
	
	.logo {
		left: 20px;
	}
	
	.primary-navigation {
		display: none;
	}
	
	.main-menu {
		z-index: 999;
		width: 100%;
		top: 0;
		right: 0;
		position: fixed;
		min-height: 100%;
		left: 0;
		display: none;
		color: #f2f2f2;
		bottom: 0;
		background: #292929;
		
		a {
			color: #fff;
		}
		
		.menu-head,
		.menu-body {
			width: 100%;
			float: left;
		}
		
		.menu-head {
			height: 60px;
			border-bottom: 1px solid #3c3c3c;
			
			span {
				background: #fff;
			}
		}
		
		.menu-body {
			padding: 60px 0;
		}
	}
}


.jumbotron {
	height: 500px;
	color: #f2f2f2;
	background: #292929;
}

.main-content {
	margin-top: 60px;
	
	.the-excerpt {	
		min-height: 425px;	
		
		h2 {			
			line-height: 1.2em;
			font-weight: 300;
		}
		
		p {
			line-height: 1.4em;
			font-size: 12px;
		}
		
		
		.the-excerpt-link {
			
			
		}
	}
	
	@media screen and (min-width: 640px) {
	
		.the-excerpt {
			min-height: 475px;
			
			h2 {
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				font-size: 1.4em;
			}
		}
	}
	
	.the-post {
	
		h1 {
			font-size: 42px;
		}
		
		p {
			margin: 18px 0 0;
			line-height: 1.75em;
			font-size: 15px;
		}
		
		.post-header,
		.post-image,
		.post-body,
		.post-footer {
			width: 100%;

		}
		
		.post-header {
			text-align: center;
			padding-bottom: 30px;
		}
		
		.p-content {
			max-width: 1000px;
			margin: 0 auto;
			
			.post-image,
			.post-body {
				margin: 0 auto;
			}
		
			.post-image {
				padding-bottom: 45px;
			}
		
			.post-body {
				max-width: 700px;
			}
		
			.post-footer {
		
			}
		}
	}

	@media screen and (min-width: 960px) {
	
		.the-post {
					
			h1 {
				font-size: 60px;
			}
			
			p {
				font-size: 18px;
			}
		}
	}
	
	.sidebar {
		padding-left: 30px;
	}
}

.main-footer {
	color: #f2f2f2;
	background: #292929;
	
	a {
		color: #f2f2f2;
	}
	
	
	.footer-widgets,
	.footer-navigation,
	.site-info {
	
	}
	
	.footer-widgets {
		
		ul {
			
			li {
				font-size: 14px;
			}
		}
		
	}
	
	.footer-navigation {
	
	}
	
	.site-info {
	
	}
}
